@import '../../styles/spacing';

.root {
    margin-top: $spacing-3;
    margin-bottom: $spacing-4;
    margin-left: $spacing-page-inline;
    margin-right: $spacing-page-inline;
}

.content {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}
